.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #131921;
  height: 70px; 
}

.logo {
 margin-left: -100px;
}

.menu-icon {
  display: none;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  white-space: nowrap;
}

.nav-link:hover {
  color: #c45500;
}

.nav-link.active {
  color: gray;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    background-color: rgba(19, 25, 33, 0.8); ; 
    padding: 10px;
  }

  .nav-links.nav-open {
    display: flex;
  }
}
