.navbar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
  }
  
  .nav-link.active {
    color: blue;
  }
  
  @media (min-width: 600px) {
    .navbar {
      flex-direction: row;
    }
  }
  