.navbar {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #232b2be0 ;
  }
  
  .nav-link {
    font-size: 20px;
    text-decoration: none;
    color:white;
  }
  
  .nav-link.active {
    color: rgb(230, 145, 34);
  }
  
  @media (min-width: 600px) {
    .navbar {
      flex-direction: row;
    }
  }
  
.logo {
  width: 500px;
  height:500px;
  margin-right: 1em;
}